
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Dashboard">
      <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
      <title>Dashio - Bootstrap Admin Template</title>
      <link href="img/favicon.png" rel="icon">
      <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    
      <!-- Bootstrap core CSS -->
      <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!--external css-->
      <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
      <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-daterangepicker/daterangepicker.css" />
      <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-timepicker/compiled/timepicker.css" />
      <!-- Custom styles for this template -->
      <link href="assets/css/style.css" rel="stylesheet">
      <link href="assets/css/style-responsive.css" rel="stylesheet">
     
    </head>
    <body>

      <div class="card-header">
          <iframe name="date du jour" id="date-du-jour" style="width:105px;height:75px;"
          src="https://www.mathieuweb.fr/calendrier/date-jour-bleu.html"
          scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        <section id="main-content">
          <section class="wrapper">
         
            <div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">

                  <div [hidden]="submitted" >
                  <form (ngSubmit)="onSubmit()"  class="form-horizontal style-form">
                      <div  class="form-group">
                          <mat-form-field class="example-full-width">
                              <mat-label  for="nomFournisseur" class="control-label col-md-3">Nom fournisseur </mat-label>
                              <input matInput  id="nomFournisseur"
                             [(ngModel)]="fournisseur.nomFournisseur" name="nomFournisseur">
                             <mat-icon matSuffix>mode_edit</mat-icon>
                            </mat-form-field></div>
                        
                            <div  class="form-group">   <mat-form-field class="example-full-width">
                                      <mat-label  for="numTel" class="control-label col-md-3">Telephone  </mat-label>
                                      <span matPrefix>+33 &nbsp;</span>
                                      <input  type="tel" matInput id="numTel"
                                       [(ngModel)]="fournisseur.numTel" name="numTel">
                                      <mat-icon matSuffix>mode_edit</mat-icon>
                                    </mat-form-field></div>
  
  
                                      <div  class="form-group">
                                          <mat-form-field class="example-full-width">
                                              <mat-label   class="control-label col-md-3"  for="specialite">Spécialité  </mat-label> 
                                
                                  <input matInput type="text"  id="specialite"
                                  required [(ngModel)]="fournisseur.specialite" name="specialite">
                                  <mat-icon matSuffix>mode_edit</mat-icon>
                                </mat-form-field>
                                </div>
  <table class="example-full-width" cellspacing="0"><tr>
                             <td>  <div  class="form-group">
                                    <mat-form-field class="example-half-width">
                                      <input matInput for="adresseF"
                                       placeholder="Adresse fournisseur"  [(ngModel)]="fournisseur.adresseF" name="adresseF">
                                       <mat-icon matSuffix>mode_edit</mat-icon>
                                       </mat-form-field>
                                  </div></td> 
  
                              <td> <div  class="form-group">
                                  
                                    <mat-form-field class="example-half-width">
                                      <input matInput  maxlength="5" placeholder="Postal Code"
                                      [(ngModel)]="fournisseur.codePostale" name="codePostale"  id="codePostale"  #postalCode maxlength="5" >
                                      <mat-icon matSuffix>mode_edit</mat-icon>
                                      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>

                                    </mat-form-field>
                               </div></td></tr></table>
                  
         
                               <div  class="form-group">
                                <div class="example-full-width">
                                  <button  style="text-align: center;" class="subscribe btn btn btn-warning btn-block"
                                  type="submit"> 
                                 <i class="fa fa-check"></i><strong> Enregistrer</strong> </button>
                                </div></div>
                                
                             
                                </form>
                  </div>
                </div>
              </div>
            </div>

         

          </section>
          <!-- /wrapper -->
        </section>
        
    
        <div [hidden]="!submitted">
    
    
    
            <h3>Le fournisserur bien enregistrée !</h3>
            <button  class="btn btn-success" (click)="newFournisseur()">Ajouter autre fournisseur</button>
            </div>
    
        
        </div>
 
      <script src="assets/lib/common-scripts.js"></script>
      <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/date.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/moment.min.js"></script>
      <script type="text/javascript" src="assets/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
      <script src="assets/lib/advanced-form-components.js"></script>
    </body>
    </html>