<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-timepicker/compiled/timepicker.css" />
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/style-responsive.css" rel="stylesheet">
</head>
<body>
<div class="card-header">
<section id="main-content">
  <section class="wrapper">
    <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel">
          

<div [hidden]="submitted" >
          <form (ngSubmit)="onSubmit()" class="form-horizontal style-form">
            
              <div class="form-group">
                  <mat-form-field class="example-full-width"  fxFlex>
       
                      <mat-label  for="ref" class="control-label col-md-3">Réference</mat-label>
                        <input  matInput 
                        id="ref" [(ngModel)]="facture.refFacture" name="ref" >
                    </mat-form-field>
              </div>
       
            <div class="form-group">
            <mat-form-field class="example-full-width"  fxFlex>
                <mat-label>Fournisseur </mat-label>
                <mat-select ng-model="mySel"   required [(ngModel)]="facture.fournisseur"  name="fournisseur"  id="fournisseur" >
                  <mat-option  *ngFor="let val of fournisseur"
                   [value]="val.nomFournisseur">{{val.nomFournisseur}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
    
              <table class="example-full-width" cellspacing="0"><tr>
                 
         
               <td>  <div class="form-group">
               <mat-form-field fxFlex>
                        <mat-label for="prixHT" class="control-label col-md-3">Montant HT </mat-label>
                        <div class="col-md-4 col-xs-11">
                    <input  matInput  id="prixHT"
                     [(ngModel)]="facture.prixHT" name="prixHT" >
                  </div>
                </mat-form-field>
                    </div>
                  </td> 
    
                <td>
                <div class="form-group">
                    <mat-form-field fxFlex>
                        <mat-label  for="tva" class="control-label col-md-3"> TVA </mat-label>
                  <div class="col-md-4 col-xs-11">
                    <input  matInput 
                     id="tva"
                    required [(ngModel)]="facture.tva" name="tva">
                  </div>
               
                   </mat-form-field>
                   </div>
                </td>                
              <td>
                  <div class="form-group">
                     <mat-form-field fxFlex>
                      <mat-label  for="tva" class="control-label col-md-3"> Montant TTC  </mat-label>
                      <div class="col-md-4 col-xs-11">
                      <input matInput
                            
                      [(ngModel)]="facture.prixTTC"  id="prixTTC" name="prixTTC">
                    </div>
               
                  </mat-form-field>
                  </div>
               </td>  
                </tr>
              </table>

              <table class="example-full-width" cellspacing="0"><tr>
                <td>
                 <label>Date facture</label>
                  <input type="date"  required [(ngModel)]="facture.date"  name="date" >
               </td> 
<td>  
  <label>Date Echeance</label>
              <input type="date" required [(ngModel)]="facture.dateEcheance"  name="date" >
</td>


           

                  </tr>
                  </table>
                  
                

                  <div class="form-group">
                      <mat-form-field class="example-full-width"  fxFlex>                 
                      <input  matInput  type="text" class="form-control"
                       id="statut" required [(ngModel)]="facture.statut"
                       name="statut" [value]="facture.statut" disabled >
                      </mat-form-field>
                    </div>
  
                    <div class="form-group">
                      <label for="" class="control-label col-md-3" >Soumettre PDF</label>
                      <div class="col-md-3 col-xs-11">
                      <input (change)="upload($event)" multiple type="file"
                    class="form-control-file"
                       id="pdf" required [(ngModel)]="facture.pdf" (ngModelChange)="updateX()"
                       name="pdf"/>
                    <object [data]="file" type="application/pdf">
                      <embed [src]="file" type="application/pdf" /></object>
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
                    <span class="label label-info">NOTE!</span>
                    <span>
                      ONly.pdf
                      </span>
                    </div>
                  </div>
    <div  class="form-group">
      <div class="example-full-width">
        <button  style="text-align: center;" 
      (click)="getFacture(facture.idFacture)" class="subscribe btn btn btn-warning btn-block"
        type="submit"> 
       <i class="fa fa-check"></i><strong> Enregistrer</strong> </button>
      </div></div>
         
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /wrapper -->
</section>

<div [hidden]="!submitted">
    <h3>LA FACTURE EST BIEN ENREGISTRÉÉ!</h3>
    <button class="btn btn-warning" (click)="newFacture()">Add</button>
    <br>  <br>  <br>   <br>  <br>  <br>  <br>
  
  </div>

</div>

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="assets/lib/jquery/jquery.min.js"></script>
  <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="assets/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="assets/lib/jquery.scrollTo.min.js"></script>
  <script src="assets/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="assets/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
  <script src="assets/lib/advanced-form-components.js"></script>
</body>
</html>