
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
  }
  
  .example-full-width {
    width: 80%;
  }
  
  td {
    padding-right: 8px;
  }
  div.container {
    min-height: 100em;
    display: table-cell;
    vertical-align: middle }