<body>
  <table class="table table-striped table-dark">

      <thead>
        <tr>
        <th>Fournisseur</th>
        <th>Référence Facture</th>
        <th>Date </th>
        <th>Montant TTC</th>
        <th>Montant HT </th>
        <th>Statut</th>
          <th>Edit</th>
        </tr>
       </thead>
       <tbody>
      <tr>
        <td>{{facture.fournisseur}}</td>
        <td>{{facture.refFacture}}</td>
          <td>{{facture.date}}</td>
          <td>{{facture.prixTTC}}</td>
            <td>{{facture.prixHT}}</td>
        <td>{{facture.statut}}</td>
        <td>
      <span class="table-remove">
        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
    </td>
      </tr>
    </tbody>
    <tfoot>
          <tr> <th>Somme </th>
             <td>{{facture.somme}}</td></tr>
    </tfoot>

</table>
