<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-timepicker/compiled/timepicker.css" />
  <!-- Custom styles for this template -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/style-responsive.css" rel="stylesheet">
 
</head>
<div class="container">
    <div class="text-block">
      <h4>EZEECAMP</h4>
      <p> Payer Facture </p>
    </div>
  </div> 

<body>
<div class="card-header">
    <section id="main-content">
      <section class="wrapper">
          <ul class="list-inline">
              <li class="list-inline-item"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
              <li class="list-inline-item"><i class="fa fa-cc-mastercard fa-4x"></i></li>
              <li class="list-inline-item"><i class="fa fa-cc-amex fa-2x"></i></li>
              <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
          </ul>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
    <div [hidden]="submitted" >
              <form (ngSubmit)="onSubmit()"  class="form-horizontal style-form">
                  <div class="form-group">
                      <label  for="provider" class="control-label col-md-3">Fournisseur </label>
                      <div class="col-md-3 col-xs-11">
                          <mat-form-field>
                      <input matInput id="provider"
                       required [value]="prov" name="provider" readonly > </mat-form-field>
                    </div>
                  </div>
                        <div  class="form-group">
                            <label for="refPaiement" class="control-label col-md-3">Référence</label>
                            <div class="col-md-3 col-xs-11">
                            <input type="text" class="form-control" id="refPaiement"
                             required [value]="reference" name="refPaiement" readonly>
                          </div>
                        </div>

                        <div  class="form-group">
                            <label for="tva" class="control-label col-md-3">tva </label>
                            <div class="col-md-3 col-xs-11">
                            <input  class="form-control" id="tva"
                             required [value]="tva" name="tva" readonly>
                          </div>
                        </div>
                        <div  class="form-group">
                            <label for="prixHT" class="control-label col-md-3">HORS TAXE HT </label>
                            <div class="col-md-3 col-xs-11">
                            <input  class="form-control" id="prixHT"
                             required [value]="prixHT" name="prixHT" readonly >
                          </div>
                        </div>
                          <div  class="form-group">
                              <label for="typePaiement" class="control-label col-md-3" >Type De Paiement</label>
                              <div class="col-md-3 col-xs-11">
                              <select class="form-control" name="typePaiement" id="typePaiement" required [(ngModel)]="paiement.typePaiement" name="typePaiement">
                                <option selected>Choose...</option>
                                <option>Espéce</option>
                                <option type="button">Par chéque</option>
                                <option>Par Carte</option>
                                <option>Trait/Lettre de change</option>
                                <option>Virement</option>
                              </select>
                            </div> 
                          </div>
                            <div class="form-group" >
                                <label  for="cheque" class="control-label col-md-3" >Num chéque </label>
                                <div class="col-md-3 col-xs-11">
                                <input type="text" class="form-control" id="cheque"
                                required [(ngModel)]="paiement.cheque" name="cheque">
                              </div>
                            </div>
                              
                              <div class="form-group" >
                                <label  for="montantP" class="control-label col-md-3">Montant Facture</label>
                                <div class="col-md-3 col-xs-11">
                                <input type="number" class="form-control" id="montantP"
                                required [value]="montant" name="montantP">
                                <!--   value="Norway" readonly  Prend le de montantFactture-->
                              </div>
                              </div>
                      
                                 
                              <div  class="form-group">
                                  <label for="montantPaiement" class="control-label col-md-3">Montant Paiement </label>
                                  <div class="col-md-3 col-xs-11">
                                  <input type="number" class="form-control" id="montantPaiement"
                                  required  [(ngModel)]="paiement.montantPaiement" name="montantPaiement">
                                  <!--   value="Norway" readonly  Prend le de montantFactture-->
                                </div>
                              </div>
                      
                              <div   class="form-group"  >
                                <label for="montantR" class="control-label col-md-3" >Reste a payer  </label>
                                <div class="col-md-3 col-xs-11">
                                <input type="number" class="form-control" id="montantR" [value]="montant - paiement.montantPaiement"
                                [(ngModel)]="montantR"  name="montantR" >
                              </div>
                              </div>
                        
                              <div class="form-group">
                                <label for="date" class="control-label col-md-3" >Date Paiement </label>
                                <div class="col-md-3 col-xs-11">
                                <input type="date" class="form-control" id="date"
                                required [(ngModel)]="paiement.dateP"  name="date" >
                      </div>
                              </div>
      
               
                      <div class="form-group">
                          <label for="dateEcheanceP" class="control-label col-md-3" >Date Echeance </label>
                          <div class="col-md-3 col-xs-11">
                          <input type="date" type="date" class="form-control" id="dateEcheanceP"
                          required [value]="dateE"  name="date"  readonly >
                      </div>
                      </div>
                      
                              <div class="form-group">
                                <label for="statutPaiement" class="control-label col-md-3" >Statut</label>
                                <div class="col-md-3 col-xs-11">
                                <input type="text" class="form-control" 
    
                                name="statutPaiement"  [(ngModel)]="statut" disabled>
                      </div>
                              </div>
                      
                       
                      <div class="form-group">
                                <label class="control-label col-md-3" for="commentaire">commentaire </label>
                                <div class="col-md-3 col-xs-11">
                                <textarea type="text" class="form-control" id="commentaire"
                                required [(ngModel)]="paiement.commentaire"  value ="add comment........... "
                                name="commentaire" placeholder="Your Message"  ></textarea>
                              </div>
                              </div>
                              <button class="subscribe btn btn btn-warning"
                              type="submit"> PAYER  </button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    
    <div [hidden]="!submitted">
      <h3>  La facture est  payé </h3>
   <!--  <button class="btn btn-success" (click)="newPaiement()">Ajouter Paiement </button>--> 
      <div class="center-block" style="max-width:400px">
      <button type="button" class="btn btn-warning btn-lg"
      (click)="goToBoard()" >OK </button></div>
      </div>

    
    </div>

  <script src="assets/lib/common-scripts.js"></script>
  <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
  <script src="assets/lib/advanced-form-components.js"></script>
</body>
</html>