
<div class="login-wrap" >
	<div class="login-html">
			<p style="text-align: center;">		
				<img src="assets/img/LOGO_EZEECAMP_FINAL_BLEU_1-e1558949155825.png"
				 alt="Girl in a jacket" style="width:150px;height:120px;"></p>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
          <form [formGroup]="loginForm" (submit)="login()">
          <div class="group">
          <label for="user" class="label">IDENTIFIANT</label>
          <input  class="input" type="text" placeholder="Enter Username"  id="user" name="username" formControlName="username" [(ngModel)]="credentials.username">
          </div>

          <div class="group">
            <label for="pass" class="label">MOT DE PASSE </label>
                <input  class="input" type="password" placeholder="Enter Password" id="pass"
                name="password" formControlName="password" [(ngModel)]="credentials.password">
          </div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>

				<div class="group">
				
						<p style="text-align: center;">							<button type="submit" class="btn btn-warning btn-flat m-b-30 m-t-30">Login</button>
						</p>
				</div>
      </form>
				<div class="hr"></div>
			</div>
			<div class="sign-up-htm">

				<div class="hr"></div>

			</div>
		</div>
	</div>
</div>
