<h1>Tableau de Bord</h1>
  <div  *ngFor="let facture of factures  | async ">

  <app-facture-details  [facture]='facture'></app-facture-details>
</div>


<!--
<div class="form-group">
   <input type="text" class="form-control" placeholder="Search By Name"
           style="width:300px" [(ngModel)]="searchTerm" />

<h1>Tableau de Bord</h1>
  <div  *ngFor="let facture of factures  | factureFiltrer: searchTerm ">
  <app-facture-details  [facture]='facture'></app-facture-details>
</div>-->
