<div class="row">
  <div class="col-lg-2" *ngIf="showHideSideBar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <app-navbar
    [showSideBar]="showHideSideBar"
    (showSideBarChange)="onShowSideBarChange($event)"
    ></app-navbar>
    <div class="container body">
      <router-outlet></router-outlet>
    </div>
  </div>
<div>
<!--  <div style="padding: 20px;">
    <h1 style="color: blue">grokonez.com</h1>
    <h3>{{title}}</h3>
    <nav>
      <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
      <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    </nav>
    <router-outlet></router-outlet>
  </div>-->
