<html>
  <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">--> 
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <iframe name="date du jour" id="date-du-jour" style="width:105px;height:75px;" 
            src="https://www.mathieuweb.fr/calendrier/date-jour-noir.html" scrolling="no" 
            frameborder="0" allowtransparency="true"></iframe>
         
        </div>
      </header>
      
  <body>

  <section id="container">
    <section id="main-content">
   
 
      <section class="wrapper">
          <table ><tr>
            <div class="col-md-4">
      
        <td> <div class="form-group">
              <mat-form-field class="example-full-width"  fxFlex>
                  <mat-label>Fournisseur </mat-label>
                  <mat-select ng-model="mySel"   required [(ngModel)]="provider"  name="fournisseur"  id="provider" >
                    <mat-option  *ngFor="let val of fournisseurs"
                     [value]="val.nomFournisseur" (click)="searchByProv(val.nomFournisseur)">{{val.nomFournisseur}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div></td> 

        <td> <div class="form-group ">
              
            <mat-form-field class="example-full-width"  fxFlex>

              <mat-label>Statut </mat-label>
              <mat-select ng-model="mySel"   required [(ngModel)]="provider"  id="statutPaiement"
              required [(ngModel)]="statutPaiement" name="statutPaiement" >
                <mat-option 
                (click)="searchBySt('ENREGISTRÉÉ')">ENREGISTRÉÉ
                </mat-option>
                <mat-option 
                (click)="searchBySt('PARTIEL')">PARTIEL
                </mat-option>
                <mat-option 
                (click)="searchBySt('SOLDÉE')">SOLDÉE
                </mat-option>
                <mat-option 
                (click)="searchBySt('A PAYER')">A PAYER
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div></td> 
   <td> <div class="form-group">
               <mat-form-field>
                  <input  placeholder="taper la date " matInput [(ngModel)]="dateEcheanceP"  name="dateEcheanceP" placeholder="Choose a date">
                  
                </mat-form-field>
<div>
 <!-- <input type="date" [(ngModel)]="dateEcheanceP"  name="dateEcheanceP" placeholder="Choose a date">
-->
</div>

            </div>    </td>
         <td> <div class="btn-group">
            <button type="submit" class="btn btn-warning " (click)="searchByDate()">Submit</button>
          </div></td> 
          </div>
        </tr>


        </table>

     
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>

              <table class="table table-advance table-hover">
                <thead>
                  <tr>
                    <th>Fournisseur</th>
                    <th>Réference</th>
                    <th>TypePaiement</th>
                    <th>HT</th>
                    <th>TVA</th>
                    <th>M-Facture</th>
                    <th>M-Paiement</th>
                    <th>M-Reste </th>
                   <th>Statut</th>
                  
                    <th><i class="fa fa-clock-o" >Paiement</i></th>
                    <th><i class="fa fa-clock-o" >Echéance</i></th>
                    <th>Commentaire</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let paiement of paiements" >
                  <tr>
                    <td>{{paiement.provider}} </td>
                    <td>{{paiement.refPaiement}}</td>
                    <td>{{paiement.typePaiement}}</td>     
                    <td>{{paiement.prixHT}}</td>     
                    <td>{{paiement.tva}}</td>
                    <td>{{paiement.montantP}}</td>
                    <td>{{paiement.montantPaiement}}</td>
                    <td>{{paiement.montantR}}</td>
                    <td>{{paiement.statutPaiement}}   </td>
                    <td>{{paiement.dateP}}</td>  
                    <td bgcolor="#eb732e7a">{{paiement.dateEcheanceP}}</td>
                    <td>{{paiement.commentaire}}</td>
                    <td>
                        <button type="submit" class="btn btn-warning"
                        (click)="goToPage(paiement.refPaiement,paiement.montantP,
                         paiement.provider, paiement.prixHT , paiement.tva,paiement.montantPaiement)"><span>&#36;</span></button>
                        
                        
                        </td>
         </tr>
                </tbody>
                <tfoot *ngIf="paiements && paiements.length">
                  <tr>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                      <td>{{count5()}} </td>
                    <td>  {{count3()}}  </td>
                    <td>  {{count()}}  </td>
                    <td>  {{count4()}}   </td>
                    <td> {{count2()}}  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>    
                </tfoot>
              </table>
      </section>
    </section>
    </section>
  <script src="assets/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="lib/advanced-datatable/js/jquery.js"></script>
  <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="assets/lib/jquery.scrollTo.min.js"></script>
  <script src="assets/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="assets/lib/advanced-datatable/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="assets/lib/advanced-datatable/js/DT_bootstrap.js"></script>
  <!--common script for all pages-->
  <script src="assets/lib/common-scripts.js"></script>
</body>

</html>
