<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="" data-toggle="collapse" (click)="afficherSideBar()">
    <i class="fa fa-bars" style="font-size:35px;color:black" aria-hidden="true"></i></a>
<br> <br> 
  <a class="navbar-brand">EzeeCamp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-sample my-2 my-sm-0"  (click)="logout()">Log Out</button>
    </form>
  </div>
</nav>
