<head>

</head>
<body>
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
 
<form>
  	<div class="col-md-12">
        <table class="example-full-width" cellspacing="0"><tr>
            <td>
              <mat-form-field class="example-full-width"  fxFlex>
                <mat-label>Fournisseur</mat-label>
                <mat-select >
                  <mat-option  *ngFor="let four of fournisseur" (click)="searchByFour(four.nomFournisseur)">
                    {{four.nomFournisseur}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </td>
            <td>
              <mat-form-field class="example-full-width"  fxFlex>
                <mat-label>Statut</mat-label>
                <mat-select >
                  <mat-option  *ngFor ="let stat of allStatus" (click)="searchByStatut(stat)">
                    {{stat}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </td>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput  placeholder="Réference" id="ref"
              required [(ngModel)]="refer" [formControl]="rff" (keyup.enter)="searchByRef()">
            
            </mat-form-field>
          </td>
          </tr>
        </table>
</div>
</form>



<table   class="table table-striped table-advance table-hover">
<thead>
<tr>
   <th>id</th>
   <th>ref</th>
   <th>Fournisseur</th>
  <th>prixHT</th>
  <th>TVA</th>
    <th>prixTTC</th>
    <th>date Echeance</th>
    <th>Paiement</th>
  <!--  <p>
    PrixTTC={{prixTTC}} <br>
    prixHT={{prixHT}}<br>
    tva={{tva}}</p>-->

  </tr>
<tbody>
<tr *ngFor="let facture of factures let i = index" >
<td>{{facture.idFacture}} </td>
<td>{{facture.refFacture}}</td>
<td>{{facture.fournisseur}} </td>
<td>{{facture.prixHT}}</td>
<td>{{facture.tva}}</td>
<td>{{facture.prixTTC}}</td>
<td>{{facture.dateEcheance}}</td>
<button type="submit" class="btn btn-warning"
 (click)="goToPage(facture.refFacture,facture.fournisseur ,facture.prixTTC,  facture.prixHT  , facture.tva , facture.dateEcheance )"><span>&#36;</span></button>
</tr>
</tbody>
  



</table>

  
</section>
</section>
</section>

</body>